---
import "../styles/global.css";
import { getLangFromUrl } from "../i18n/utils";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";

const lang = getLangFromUrl(Astro.url);
const { title, description, keywords } = Astro.props;

import SEO from "../components/SEO.astro";
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>Portfolio - Marcos Esqueda {title ? ` - ${title}` : title}</title>
    {keywords && <meta name="keywords" content={keywords} />}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="../assets/profile-picture.jpg" />
  </head> -->
  <SEO title={title} description={description} keywords={keywords} />
  <body class="mx-auto w-full max-w-screen-xl">
    <Header />
    <main class="max-w-screen-xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>
